body{
  background: #b8b4b44f;
}

.pageContainer{
  width: calc(100% - 200px);
  box-sizing: border-box;
  padding: 30px;
}
.navbar__nav{
  /* width: 100px; */
}
@media screen and (max-width : 750px) {
  .pageContainer{
    width: 100%;
  }
}